<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>List of Ninas</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	</head>
	<body>
		<div id="wrapper">
			<h2>List of Ninajs in Shadow Masters</h2>
				<ol>
					<li>
						<p>Tommy</p>
						<img src="{{ url_for('static', filename='img/tommy.jpg') }}" alt ="tommy">
					</li>
				</ol>
				<p>Unfortunatley...rest of the members have been slain by Bruce Lee.</p>
				<p><a href ="/dojos/new">CLICK</a> to help us fight against Bruce Lee!</p>
			<footer>
				<p><a href="/">Main Page</a></p>
			</footer>
		</div>
	</body>
</html>