<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Show User {{ user['id'] }}</title>
		<style type="text/css">
			form {
				display: inline-block;
			}
			li {
				color: red;
			}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<h1>User {{ user['id'] }}</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
					<p>{{ message }}</p> 
					{% endfor %}
				{% endif %}
			{% endwith %}
			<h5>Full Name: {{ user['full_name'] }}</h5>
			<h5>Email: {{ user['email'] }}</h5>
			<h5>Created at: {{ user['created_date'] }}</h5>
			<form action="/users/{{ user['id'] }}/edit/" method="GET">
				<input type="submit" value="Edit">
			</form>
			<form action="/users/{{ user['id'] }}/destroy" method="POST">
				<input type="submit" value="Delete">
			</form>
			<p><a href="/users/">Go back</a></p>
		</div>
	</body>
</html>