#wrapper {
	width: 500px;
	height: 500px;
	margin: 40px auto;
	padding: 20px;
	background-color: skyblue;
	border-radius: 40px;
}
h1, h2, h3, p {
	font-family: verdana, sans-serif;
	text-align: center;
}
.red {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin-left: 150px;
	background-color: red;
}
.red h2 {
	margin-top: 80px;
	color: white;
}
.green {
	border: 1px solid black;
	height: 200px;
	width: 200px;
	margin-left: 150px;
	background-color: green;
}
.green h2 {
	margin-top: 55px;
	color: white;
}
.button {
	padding: 7px 17px;
	font-weight: 700;
	font-family: verdana, sans-serif;
}